

<h1> These are from Sightly PROPS</h1>

${properties.text}<br>
${properties.fname}<br>
${properties.dob @format='DD/MM/YY'}<br>

========================================================================

<h1> These are from JAVA CODE</h1>
<sly data-sly-use.sampleComp="${'com.training.learning.core.models.SampleComponentModel' @someRandomValue='Please Prepare Sling Models'}" ></sly>

${sampleComp.getText}<br>
${sampleComp.getFname}<br>
JCR Created Format :${sampleComp.getDob}<br>
DD MM YYY Format: ${sampleComp.getFormatedDate}<br>
All Fields: ${sampleComp.getallFeilds}<br>
ALL Request Params: ${sampleComp.allRequestParamas}<br>