Tab1
<h1>${properties.heading1}</h1>
<h2>${properties.heading2}</h2>
<h3>${properties.heading3}</h3>
<h4>${properties.heading4}</h4>
<h5>${properties.heading5}</h5>
<h6>${properties.heading6}</h6>
<p style="color:red;">${properties.paragraph}</p>
<br>

Tab 2<br>
<a href="https://google.com" target="_blank">visit google</a>

br>

Tab3 

<br><img src="${image}" alt="${properties.alttext}" width="100px" height="100px"
<br>

Tab4 
    <div> ${properties.div1} </div>
   <div>${properties.div2} </div>

