

<h1> These are from Sightly PROPS</h1>

${properties.contactNumber}<br>
${properties.aboutUs}<br>
${properties.corporate}<br>
${properties.moreFromUS}<br>
${properties.sales}<br>
${properties.text}<br>



========================================================================

<h1> These are from JAVA CODE</h1>
<sly data-sly-use.myFirstSlingComponent="com.training.learning.core.models.MyFirstSlingModel"></sly>

${myFirstSlingComponent.contactNumber}<br>
${myFirstSlingComponent.aboutUs}<br>
${myFirstSlingComponent.corporate}<br>
${myFirstSlingComponent.moreFromU}<br>
${myFirstSlingComponent.sales}<br>
${myFirstSlingComponent.text}<br>

