<sly data-sly-use.obj="com.training.learning.core.models.UserDetailsModel"/>
Hi This is UserDetails from FE <br>

${properties.fname} <br>
${properties.lname} <br>
Date of Birth: ${'dd-MMMM-yyyy hh:mm:ss' @ format=properties.dob}<br>
${properties.compname}<br>
${'dd-MM-yyyy' @ format=properties.joiningDate}<br>
${properties.biodata @context='html'}<br>

Prathap's Age is : 20 
Prathap's completed 1 year in the company.<br> 

Hi This is UserDetails from BE <br>

${obj.fname} <br>
${obj.lname} <br>
${obj.dob} <br>
${obj.compname} <br>${obj.joiningDate} <br>
${obj.biodata @context='html'} <br>
${obj.biodata}<br>
${obj.experience}<br>
${obj.age}<br>
